.title_text {
  color: #303e65;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 34px;
}
.input {
  padding: 8px 15px;
  /* color: #8e8e8e; */
  /* font-weight: 700; */
  line-height: 19px;
  /* background-color: #edf2f7; */
  /* border: 1px solid #2d9cdb; */
}

.view_end {
  display: flex;
  justify-content: end;
}

.button {
  background-color: #2d9cdb;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.button:hover {
  color: #ffffff !important;
}

.button:focus {
  outline: none !important;
}

@media only screen and (max-width: 600px) {
  .title_text {
    font-size: 10px;
  }

  .input {
    font-size: 7px;
  }
}

@media only screen and (min-width: 601px) {
  .title_text {
    font-size: 14px;
  }

  .input {
    font-size: 9px;
  }
}
@media only screen and (min-width: 800px) {
  .title_text {
    font-size: 16px;
  }

  .input {
    font-size: 11px;
  }
}
@media only screen and (min-width: 1000px) {
  .title_text {
    font-size: 20px;
  }

  .input {
    font-size: 13px;
  }
}
