.ant-select-selector {
  border-radius: 8px !important;
  align-items: center;
  height: 40px !important;
}
.ant-picker {
  border-radius: 8px !important;
  background-color: #ffffff !important;
  border: 1px solid #e4ecff !important;
}
